@{
    ViewBag.Title = "主页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="panel panel-danger row">
        <div class="col-md-4">
            图标元素
        </div>
        <div class="col-md-4">
            背景元素
        </div>
        <div class="col-md-4">
            登录/注册/我的
        </div>
    </div>
    <div class="panel panel-body">
        <div class="row">
            <div class="col-md-4">
                <img src="~/common/images/03ca341e723a6eb62809b1dcd634a610.png" style="width:100%"/>
            </div>
            <div class="col-md-4">
                <img src="~/common/images/04926b7a2ee45587c122a23d1f574257.jpg" style="width:100%"/>
            </div>
            <div class="col-md-4">
                <img src="~/common/images/05eb177140c50dda1b472d8afd229d25.png" style="width:100%"/>
            </div>
        </div>
    </div>
</div>
