@{
    ViewBag.Title = "个人主页";
    Layout = "~/Views/Shared/_LayoutMypage.cshtml";
}
<style>
    .num{
        color:cornflowerblue;
    }
</style>
<div class="container">
    <div class="box text-center">
        <h2>嗨，
            <span class="num">@ViewBag.userId</span>
        </h2>
            
        <h3>
           可以查看你收藏和上传的图片哦#^_^#
        </h3>
    </div>
    
</div>
